<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083061622885-hkspunjm2ncd469d58edk6445rtl363o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083061622885-hkspunjm2ncd469d58edk6445rtl363o</string>
	<key>API_KEY</key>
	<string>AIzaSyCyz9T5MWTjs5ZkigkxsNf2y8iITxgAf9s</string>
	<key>GCM_SENDER_ID</key>
	<string>1083061622885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.entel.movil</string>
	<key>PROJECT_ID</key>
	<string>prod-app-entel-tde-pe</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-app-entel-tde-pe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083061622885:ios:1e3633934a2d8054300e8c</string>
	<key>DATABASE_URL</key>
	<string>https://prod-app-entel-tde-pe.firebaseio.com</string>
</dict>
</plist>